<div th:include="layout::header"> </div>

<!-- content -->
<main class="container">
    <h3 class="mt-4">Compras</h3> 

    <div class="card my-4">
        <div class="card-body">   
            <div th:if="${compras.isEmpty()}" class="text-center">
                <p class="my-3">Aún no se han realizado compras</p>
            </div>

            <table th:unless="${compras.isEmpty()}" class="table" id="products-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Comprador</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="compra: ${compras}">
                        <td th:text="${#dates.format(compra.fecha, 'dd/MM/yyyy')}"></td>
                        <td th:text="${compra.usuario.nombre} + ' ' + ${compra.usuario.apellido}"></td>
                        <td th:text="${compra.producto.nombre}"></td>
                        <td th:text="${compra.cantidad}"></td>
                        <td th:text="'$ ' + ${#numbers.formatDecimal(compra.precio, 0, 'DEFAULT', 0, 'POINT')}"></td>
                        <td>
                            <a th:href="@{/compra/{id} (id = ${compra.id})}" class="btn btn-primary">Ver detalles</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- content/ -->

<div th:include="layout::footer"> </div>