<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>
        
        <main class="container">
            <h2>Compras</h2>

            <div class="p-4 text-bg-light rounded shadow">
                <div th:if="${compras.size() == 0}" class="text-center">
                    <p class="mb-0 fs-5 text-muted">Aún no se han realizado compras</p>
                </div>

                <div th:unless="${compras.size() == 0}">
                    <table class="table table-light caption-top">
                        <caption><span th:text="${compras.size()}"></span> compras</caption>

                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="compra: ${compras}">
                                <td th:text="${#temporals.format(compra.createdAt, 'dd/MM/yyyy')}"></td>
                                <td th:text="${compra.usuario.nombre} + ' ' + ${compra.usuario.apellido}"></td>
                                <td th:text="${compra.producto.nombre}"></td>
                                <td th:text="${compra.cantidad}"></td>
                                <td>$ <span th:text="${#numbers.formatDecimal(compra.precio, 0, 'POINT', 0, 'DEFAULT')}"></span></td>
                                <td><a th:href="@{/compra/{id} (id = ${compra.id})}" class="btn btn-sm btn-success">Ver detalles</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
