<div th:include="layout::header"> </div>
 
<!-- content -->
<main class="container">
    <div class="my-4 p-5 bg-light rounded-3">
        <h1 class="display-5 fw-bold">Bienvenidos a Spring e-Commerce</h1>
        <p class="col-md-8 fs-4">Tu tienda de productos en línea</p>
    </div>
</main>   

<section class="container">
    <div class="row">
        <div th:each="producto: ${productos}" class="col-lg-3 col-md-6 mb-4">
            <a class="card h-100 text-decoration-none text-black" th:href="@{/productos/}">
                <img th:src="@{/images/{img} (img = ${producto.imagen})}" class="card-img-top" alt="producto">
                
                <div class="card-body">
                    <p class="card-text" th:text="${producto.descripcion}"></p>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- content/ -->

<div th:include="layout::footer"> </div>