<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>Lista de productos</h2>

            <div class="p-4 bg-white rounded shadow">
                <a th:href="@{/admin/productos/form}" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i> Nuevo producto</a>

                <table class="mt-4 table table-bordered caption-top align-middle">
                    <caption><span th:text="${productos.size()}"></span> productos</caption>

                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="producto: ${productos}">
                            <td>
                                <img th:src="@{/images/{img} (img = ${producto.imagen})}" class="object-fit-contain" alt="Imagen del producto" style="width: 4rem; height: 4rem;">
                            </td>
                            <td>
                                <a th:href="@{/producto/{id} (id = ${producto.id})}" class="text-dark text-decoration-none" th:text="${#strings.abbreviate(producto.nombre, 32)}"></a>
                            </td>
                            <td th:text="${#strings.abbreviate(producto.descripcion, 64)}"></td>
                            <td th:text="${producto.stock}"></td>
                            <td class="text-nowrap">
                                $ <span th:text="${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></span>
                            </td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a th:href="@{/admin/productos/form?id={id} (id = ${producto.id})}" class="btn btn-sm btn-warning" title="Editar producto"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <button type="button" class="btn btn-sm btn-danger" title="Archivar producto" th:product-id="${producto.id}" onclick="onDeleteProduct()"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
 