<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>
                <span th:if="${producto.id == null}">Crear producto</span>
                <span th:unless="${producto.id == null}">Editar producto</span>
            </h2>
            
            <div class="p-4 text-bg-light rounded shadow">
                <p class="mb-2 small text-end"><span class="text-danger">*</span> Todos los campos son obligatorios</p>

                <form method="POST" th:action="@{/admin/productos/form}" th:object="${producto}" enctype="multipart/form-data" novalidate>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{archivado}">
                    <input type="hidden" th:field="*{imagen}">

                    <div class="mb-3">
                        <label class="form-label" for="nombre">Nombre</label>
                        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nombre}" placeholder="Nombre del producto" required>
                        <small class="text-danger" th:errors="*{nombre}"></small>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="descripcion">Descripción</label>
                        <textarea class="form-control" th:errorclass="is-invalid" th:field="*{descripcion}" rows="10" placeholder="Descripción detallada del producto" required></textarea>
                        <small class="text-danger" th:errors="*{descripcion}"></small>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="stock">Stock</label>
                        <input class="form-control" th:errorclass="is-invalid" type="number" th:field="*{stock}" min="1" placeholder="1" required>
                        <small class="text-danger" th:errors="*{stock}"></small>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="precio">Precio</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" th:errorclass="is-invalid" type="number" th:field="*{precio}" placeholder="1" required>
                        </div>
                        <small class="text-danger" th:errors="*{precio}"></small>
                    </div>
    
                    <div class="mb-3">
                        <label for="imagenFile" class="form-label">Imagen</label>
                        <input class="form-control" th:classappend="${#fields.hasErrors('imagen')}? is-invalid" type="file" id="imagenFile" name="imagenFile" required>
                        <small class="text-danger" th:errors="*{imagen}"></small>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
