<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>
        
        <main class="container">
            <h2>Usuarios</h2>

            <div class="p-4 bg-white rounded shadow">
                <div th:if="${usuarios.size() == 0}" class="text-center">
                    <p class="mb-0 fs-5 text-muted">Aún no hay usuarios registrados</p>
                </div>

                <div th:unless="${usuarios.size() == 0}">
                    <table class="table caption-top">
                        <caption><span th:text="${usuarios.size()}"></span> usuarios</caption>

                        <thead>
                            <tr>
                                <th>Nombre y apellido</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="usuario: ${usuarios}">
                                <td th:text="${usuario.nombre + ' ' + usuario.apellido}"></td>
                                <td th:text="${usuario.email}"></td>
                                <td th:text="${usuario.telefono}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
