<div th:include="layout::header"> </div>

<!-- content -->
<main class="container">
    <h1 class="my-4">Crear Producto</h1>
    <p class="mt-4 text-muted">* Todos los campos son obligatorios</p>

    <form th:action="@{/productos/crear}" th:object="${producto}" method="POST" enctype="multipart/form-data">    
        <div class="mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input class="form-control" id="nombre" th:field="*{nombre}" type="text" placeholder="Nombre del producto" required>
            <small class="form-text text-danger" th:errors="*{nombre}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="5" required></textarea>
            <small class="form-text text-danger" th:errors="*{descripcion}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="cantidad">Cantidad</label>
            <input class="form-control" id="cantidad" th:field="*{cantidad}" type="number" placeholder="1" required>
            <small class="form-text text-danger" th:errors="*{cantidad}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="precio">Precio</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input class="form-control" id="precio" th:field="*{precio}" type="number" value="1" required>
            </div>
            <small class="form-text text-danger" th:errors="*{precio}"></small>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagenFile" required>
            <small th:if="${emptyImage}" class="form-text text-danger">Debes incluir una imagen del producto</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-outline-secondary" th:href="@{/productos}">Volver</a>
    </form>
</main>
<!-- content/ -->

<div th:include="layout::footer"> </div>