<div th:include="layout::header"> </div>

<!-- content -->
<main class="container">
    <h1 class="my-4">Editar Producto</h1>


    <form th:action="@{/productos/editar}" th:object="${producto}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        
        <div class="mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input class="form-control" id="nombre" th:field="*{nombre}" type="text" placeholder="Nombre del producto" required>
            <small class="form-text text-danger" th:errors="*{nombre}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="5" required></textarea>
            <small class="form-text text-danger" th:errors="*{descripcion}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="cantidad">Cantidad</label>
            <input class="form-control" id="cantidad" th:field="*{cantidad}" type="number" placeholder="1" required>
            <small class="form-text text-danger" th:errors="*{cantidad}"></small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="precio">Precio</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input class="form-control" id="precio" th:field="*{precio}" type="number" value="1" required>
            </div>
            <small class="form-text text-danger" th:errors="*{precio}"></small>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen (si necesitas cambiarla)</label>
            <input type="file" class="form-control" id="imagen" name="imagenFile">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-outline-secondary" th:href="@{/productos}">Volver</a>
    </form>
    
    <!-- <form th:action="@{/productos/editar}" method="POST" enctype="multipart/form-data">
        <p class="mt-4 text-muted">* Todos los campos son obligatorios</p>
        
        <input type="hidden" name="id" th:value="${producto.id}">
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del producto" th:value="${producto.nombre}" required autocomplete="off">
        </div>
        
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" placeholder="" id="descripcion" name="descripcion" style="height: 100px" th:text="${producto.descripcion}" required></textarea>
        </div>
        
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="1" min="1" th:value="${producto.cantidad}" required autocomplete="off">
        </div>
        
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="precio" name="precio" step="0.1" min="0" th:value="${producto.precio}" required autocomplete="off">
            </div>
        </div>
        
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagenFile">
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-outline-secondary" th:href="@{/productos}">Volver</a>
    </form> -->
</main>
<!-- content/ -->

<div th:include="layout::footer"> </div>