@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
    background-color: #ddd;
}

.product {
    transition: all 0.4s ease;
}
.product:hover
{
    -webkit-box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
}



/* Bootstrap ext */
.bg-white { background-color: white; }

.text-pre-line { white-space: pre-line; }


/* Fixes */
button i, a i { pointer-events: none; }
