<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <!-- content -->
        <main class="container">
            <div class="mb-2 d-flex align-items-end justify-content-between gap-4">
                <div>
                    <h2 class="mb-0">Resultados para '<span th:text="${param.q}"></span>'</h2>
                    <small class="text-muted"><span th:text="${productos.size()}"></span> resultados</small>
                </div>
                <div>
                    <div class="d-flex align-items-center gap-3">
                        <label class="mb-0 form-label text-nowrap" for="orden">Ordenar por</label>
                        <select class="form-select" id="orden" name="orden" th:oninput="setURLParam('orden', this.value)">
                            <option value="ASC" th:selected="${#strings.equals(param?.orden, 'ASC')}">Menor precio</option>
                            <option value="DESC" th:selected="${#strings.equals(param?.orden, 'DESC')}">Mayor precio</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row row-cols-2 g-5">
                <div class="col col-3">
                    <div class="p-4 bg-white rounded shadow">
                        <div th:if="${filtros.size() != 0}" class="mb-4">
                            <h6>Filtros</h6>

                            <div th:each="filtro: ${filtros}">
                                <button class="btn-unstyled" th:onclick="@{removeURLParam('{key}') (key = ${filtro.key})}">
                                    <div class="p-2 badge text-bg-secondary d-flex align-items-center gap-2">
                                        <span th:text="${filtro.value}"></span>
                                        <i class="fa-solid fa-x fa-sm"></i>
                                    </div>
                                </button>
                            </div>
                        </div>

                        <div>
                            <h6>Categorías</h6>

                            <div th:each="categoria: ${categorias}">
                                <div class="mb-3">
                                    <button 
                                        th:onclick="|toggleURLParams('categoria', '${categoria.id}', 'subcategoria')|"
                                        class="btn-unstyled small fw-medium text-start text-muted"
                                        th:classappend="${#strings.equals(categoria.id, param.categoria)}? 'fw-semibold text-decoration-underline'"
                                        th:text="${categoria.nombre}"
                                        >
                                    </button>

                                    <div class="ps-2" th:each="sub: ${categoria.subcategorias}">
                                        <button 
                                            th:onclick="|toggleURLParams('subcategoria', '${sub.id}', 'categoria')|"
                                            class="btn-unstyled small text-start text-muted"
                                            th:classappend="${#strings.equals(sub.id, param.subcategoria)}? 'fw-medium text-decoration-underline'"
                                            th:text="${sub.nombre}"
                                            >
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-9">
                    <div th:if="${productos.size() == 0}" class="p-4 bg-white rounded shadow text-center">
                        <p class="mb-1 fs-2">Sin resultados</p>
                        <p class="mb-0 text-muted">No se encontraron resultados para "<span class="fw-medium" th:text="${param.q}"></span>"</p>
                        <p class="text-muted">Intenta con otros términos.</p>
                    </div>
    
                    <div th:unless="${productos.size() == 0}">
                        <div class="bg-white rounded shadow">
                            <table class="w-100">
                                <tbody>
                                    <tr th:each="producto, iter: ${productos}" th:classappend="${!iter.last}? border-bottom">
                                        <td class="py-4 px-3">
                                            <a th:href="@{/productos/{id} (id = ${producto.id})}" class="text-decoration-none text-dark">
                                                <img th:src="@{/images/{img} (img = ${producto.imagen})}" class="object-fit-contain" alt="Imagen del producto" style="width: 10rem; height: 10rem;">
                                            </a>
                                        </td>
                                        <td class="w-100">
                                            <div class="d-flex flex-column gap-2">
                                                <a th:href="@{/productos/{id} (id = ${producto.id})}" class="fs-5 text-decoration-none text-dark" th:text="${producto.nombre}"></a>
                                                
                                                <div th:if="${producto.precioDescuento > 0}">
                                                    <small th:if="${producto.precioDescuento}" class="text-decoration-line-through text-muted">
                                                        $ <span th:text="${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                                    </small>
                
                                                    <div class="d-flex align-items-center gap-2">
                                                        <h4 class="text-nowrap">$ <span th:text="${#numbers.formatDecimal(producto.precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span></h4>
                                                        <span class="mb-2 p-2 badge text-bg-success fst-italic fw-semibold">
                                                            %<span th:text="${#numbers.formatDecimal(producto.precioDescuento, 0, 'POINT', 0, 'DEFAULT')}"></span> OFF
                                                        </span>
                                                    </div>
                                                </div>
                                                <div th:unless="${producto.precioDescuento > 0}">
                                                    <h4 class="text-nowrap">$ <span th:text="${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></span></h4>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
