<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <!-- content -->
        <main class="container">
            <h2>Tu carrito</h3>

            <div th:if="${carrito.size() == 0}" class="p-4 text-bg-light rounded shadow text-center">
                <p class="mb-1 fs-2">¡Llená tu carrito!</p>
                <p class="text-muted">Sumá varios productos para conseguir descuentos por envío!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${carrito.size() == 0}" class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col col-lg-8">
                    <div class="px-3 text-bg-light rounded shadow">
                        <table class="w-100">
                            <tbody>
                                <tr th:each="item, iter: ${carrito}" th:classappend="${!iter.last}? border-bottom">
                                    <td class="py-3">
                                        <img th:src="@{/images/{img} (img = ${item.producto.imagen})}" class="object-fit-contain" alt="Imagen del producto" style="width: 5rem; height: 5rem;">
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column gap-1">
                                            <a th:href="@{/producto/{id} (id = ${item.producto.id})}" class="text-decoration-none text-dark" th:text="${item.producto.nombre}"></a>
                                            
                                            <div class="d-flex gap-2">
                                                <a th:href="@{/carrito/quitar/{id} (id = ${item.id})}" class="small text-decoration-none">Quitar</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <form method="POST">
                                            <ul class="list-group list-group-horizontal">
                                                <button type="submit" class="list-group-item" th:formaction="@{/carrito/cambiarCantidad/-}" th:disabled="${item.cantidad <= 1}">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <li class="list-group-item font-monospace">
                                                    <input type="hidden" name="productoId" th:value="${item.producto.id}">
                                                    <span th:text="${item.cantidad}"></span>
                                                </li>
                                                <button type="submit" class="list-group-item" th:formaction="@{/carrito/cambiarCantidad/+}" th:disabled="${item.cantidad >= item.producto.stock}">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </ul>
                                        </form>
                                    </td>
                                    <td>
                                        <p class="mb-0 fs-5 text-end text-nowrap">
                                            $ <span th:text="${#numbers.formatDecimal(item.producto.precio * item.cantidad, 0, 'DEFAULT', 0, 'POINT')}"></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <h5 class="card-text">Resumen de tu carrito</h5>
                        </div>
                        <div class="card-body">
                            <table class="mb-2 w-100">
                                <tbody>
                                    <tr>
                                        <td>Productos</td>
                                        <td class="text-end" th:text="${#aggregates.sum(carrito.![cantidad])}"></td>
                                    </tr>

                                    <tr class="fs-4 fw-semibold">
                                        <td>Total</td>
                                        <td class="text-end">
                                            $ <span th:text="${#numbers.formatDecimal(#aggregates.sum(carrito.![producto.precio * cantidad]), 0, 'DEFAULT', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a th:href="@{/orden}" class="btn btn-primary w-100">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
