<div th:include="layout::header"> </div>

<!-- content -->
<main class="container">
    <h3 class="mt-4">Compras</h3> 

    <div class="card my-4">
        <div class="card-body">
            <div th:if="${ordenes.isEmpty()}" class="my-4 text-center">
                <p class="m-0 mb-2">Aún no haz realizado compras</p>
                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <table th:unless="${ordenes.isEmpty()}" class="table" id="products-table">
                <thead>
                    <tr>
                        <th>No. de orden</th>
                        <th>Fecha</th>
                        <th>Valor</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="orden: ${ordenes}">
                        <td th:text="${orden.numero}"></td>
                        <td th:text="${orden.fechaCreacion}"></td>
                        <td th:text="'$ ' + ${#numbers.formatDecimal(orden.total, 0, 'DEFAULT', 0, 'POINT')}"></td>
                        <td>
                            <a th:href="@{/detalles/{id} (id = ${orden.id})}" class="btn btn-primary">Ver detalles</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- content/ -->

<div th:include="layout::footer"> </div>