<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>Tus compras</h2>

            <div th:if="${compras.size() == 0}" class="p-4 text-bg-light rounded shadow text-center">
                <p class="mb-1 fs-2">Aún no has realizado compras</p>
                <p class="text-muted">Añade varios productos a tu carrito y ahorra en envíos!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${compras.size() == 0}" class="d-flex flex-column gap-3">
                <div th:each="compra: ${compras}" class="p-3 text-bg-light rounded shadow">
                    <h6 class="text-muted">
                        <span th:text="${#temporals.format(compra.createdAt, 'd')}"></span> de
                        <span th:text="${#temporals.format(compra.createdAt, 'MMMM')}"></span> de
                        <span th:text="${#temporals.format(compra.createdAt, 'yyyy')}"></span>
                    </h6>

                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="pe-3">
                                    <img th:src="@{/images/{img} (img = ${compra.producto.imagen})}" class="border rounded object-fit-contain" alt="Imagen del producto" style="width: 5rem; height: 5rem;">
                                </td>
                                <td class="w-100">
                                    <div class="d-flex flex-column gap-1">
                                        <a th:href="@{/producto/{id} (id = ${compra.producto.id})}" class="text-decoration-none text-dark" th:text="${compra.producto.nombre}"></a>
                                        
                                        <small th:if="${compra.cantidad == 1}" class="text-muted">1 unidad</small>
                                        <small th:unless="${compra.cantidad == 1}" class="text-muted"><span th:text="${compra.cantidad}"></span> unidades</small>
                                    </div>
                                </td>
                                <td class="text-nowrap">
                                    <a th:href="@{/compra/{id} (id = ${compra.id})}" class="btn btn-success">Ver compra</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>