<div th:include="layout::header"> </div>

<!-- content -->
<main class="container">
    <h3 class="mt-4">Compras</h3> 

    <div class="card my-4">
        <div class="card-body">
            <div th:if="${compras.isEmpty()}" class="my-4 text-center">
                <p class="m-0 mb-2">Aún no haz realizado compras</p>
                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <table th:unless="${compras.isEmpty()}" class="table" id="products-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th><!-- Imagen --></th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="compra: ${compras}">
                        <td th:text="${compra.fecha}"></td>
                        <td class="text-center">
                            <img th:src="@{/images/{img} (img = ${compra.producto.imagen})}" alt="producto" height="64px">
                        </td>
                        <td th:text="${compra.producto.nombre}"></td>
                        <td th:text="${compra.cantidad}"></td>
                        <td th:text="'$ ' + ${#numbers.formatDecimal(compra.precio, 0, 'DEFAULT', 0, 'POINT')}"></td>
                        <td>
                            <a th:href="@{/compra/{id} (id = ${compra.id})}" class="btn btn-primary">Ver detalles</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- content/ -->

<div th:include="layout::footer"> </div>