<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header class="mb-5 py-4 text-bg-dark">
            <div class="container d-flex align-items-center justify-content-between gap-4">
                <div class="d-flex align-items-center gap-2">
                    <a th:href="@{/}" class="fs-2 navbar-brand">Spring eCommerce</a>
                </div>
            </div>
        </header>
        
        <!--  -->
        <main class="container-md my-4">
            <h1 class="text-center mb-4">Iniciar sesión</h1>
            
            <div class="py-3 px-4 card m-auto" style="width: 100%; max-width: 30rem;">    
                <div th:if="${param.error}" class="mb-2 form-text text-danger">Correo electrónico o contraseña incorrectos.</div>
                
                <form th:action="@{/login}" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="email">Correo electrónico</label>
                        <input class="form-control" id="email" type="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Contraseña</label>
                        <input class="form-control" id="password" type="password" name="password" required>
                    </div>
                    
                    <button type="submit" class="my-2 btn btn-primary w-100">Iniciar sesión</button>
                    <a th:href="@{/signup}" class="btn btn-outline-success w-100">Regístrate!</a>
                </form> 
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
         