<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header class="mb-5 py-4 text-bg-dark">
            <div class="container d-flex align-items-center justify-content-between gap-4">
                <div class="d-flex align-items-center gap-2">
                    <a th:href="@{/}" class="fs-2 navbar-brand">Spring eCommerce</a>
                </div>
            </div>
        </header>
        
        <!-- -->
        <main class="container">
            <div class="mb-4 text-center">
                <h5 class="fs-2 text-center">Iniciar sesión</h5>
                <p class="text-muted">Escribe las credenciales de tu cuenta</p>
            </div>
            
            <div class="m-auto p-4 text-bg-light rounded-3" style="max-width: 32rem;">
                <small th:if="${param.error}" class="mb-4 text-danger">Correo electrónico o contraseña incorrectos.</small>
                
                <form th:action="@{/login}" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="email">Correo electrónico *</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Contraseña *</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                    
                    <button type="submit" class="my-2 btn btn-primary w-100">Iniciar sesión</button>
                    <a th:href="@{/signup}" class="btn btn-outline-success w-100">Regístrate!</a>
                </form> 
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
         