<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>Datos de la entrega</h2>

            <div th:if="${carrito.size() == 0}" class="p-4 text-bg-light rounded shadow text-center">
                <p class="mb-1 fs-2">¡Llená tu carrito!</p>
                <p class="text-muted">Sumá varios productos para conseguir descuentos por envío!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${carrito.size() == 0}" class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col col-lg-6">
                    <div class="p-4 text-bg-light rounded shadow">
                        <div class="mb-4 d-flex align-items-center justify-content-start gap-4">
                            <div>
                                <i class="display-3 fa-solid fa-address-card text-muted"></i>
                            </div>
                            <div>
                                <p class="mb-1">Recibe <span class="fw-semibold" th:text="${usuario.nombre + ' ' + usuario.apellido}"></span></p>
                                <p class="mb-1 text-muted"><i class="fa-solid fa-envelope text-success"></i> <span th:text="${usuario.email}"></span></p>
                                <p class="mb-1 text-muted" th:if="${usuario.telefono != null}"><i class="fa-solid fa-phone text-success"></i> <span th:text="${usuario.telefono}"></span></p>
                            </div>
                        </div>
                        
                        <div>
                            <p class="mb-0"><i class="fa-solid fa-location-dot text-success"></i> Dirección</p>
                            <div class="p-3 bg-secondary-subtle rounded">
                                <span th:text="${usuario.direccion}" class="fs-5 text-muted"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-text">Tus productos</h5>
                        </div>

                        <div class="card-body">
                            <table class="w-100" style="border-collapse: separate; border-spacing: 0rem .5rem">
                                <tbody>
                                    <tr th:each="item, iter: ${carrito}">
                                        <td class="pe-3 align-self-start">
                                            <img th:src="@{/images/{img} (img = ${item.producto.imagen})}" class="object-fit-contain border rounded" alt="Imagen del producto" style="width: 5rem; height: 5rem;">
                                        </td>
                                        <td>
                                            <div>
                                                <span th:if="${item.cantidad > 1}" class="fw-semibold" th:text="${'x' + item.cantidad}"></span>
                                                <span th:text="${item.producto.nombre}"></span>
                                            </div>
                                            <div>
                                                $ <span th:text="${#numbers.formatDecimal(item.producto.precio * item.cantidad, 0, 'DEFAULT', 0, 'POINT')}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="mb-2 w-100">
                                <tbody>
                                    <tr>
                                        <td>Productos</td>
                                        <td class="text-end" th:text="${#aggregates.sum(carrito.![cantidad])}"></td>
                                    </tr>

                                    <tr class="fs-4 fw-semibold">
                                        <td>Total</td>
                                        <td class="text-end">
                                            $ <span th:text="${#numbers.formatDecimal(#aggregates.sum(carrito.![producto.precio * cantidad]), 0, 'DEFAULT', 0, 'POINT')}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="mt-3 text-end">
                        <a th:href="@{/guardar-orden}" class="btn btn-lg btn-primary px-5">Comprar</a>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>