<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <div class="p-4 bg-white rounded shadow">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col text-center"> <!-- Imagen -->
                        <img th:src="@{/images/{img} (img = ${producto.imagen})}" alt="Imagen del producto" class="w-100 object-fit-contain" style="max-height: 24rem;">
                    </div>

                    <div class="col"> <!-- Detalles -->
                        <small class="text-muted" th:if="${producto.stock > 1}">Quedan <span th:text="${producto.stock}"></span> disponibles</small>
                        <h4 th:text="${producto.nombre}"></h4>
                    </div>

                    <div class="col"> <!-- Carrito -->
                        <div class="p-3 bg-secondary-subtle rounded">
                            <div class="mb-4">
                                <div th:if="${producto.precioDescuento > 0.0}">
                                    <p class="mb-0 text-muted text-decoration-line-through">
                                        $ <span th:text="${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </p>

                                    <div class="d-flex align-items-center gap-2">
                                        <h2 class="text-nowrap">$ <span th:text="${#numbers.formatDecimal(producto.precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span></h2>
                                        <p class="mb-2 p-2 fs-5 fw-medium text-success">
                                            %<span th:text="${#numbers.formatDecimal(producto.precioDescuento, 0, 'POINT', 0, 'DEFAULT')}"></span> OFF
                                        </p>
                                    </div>
                                </div>
                                <div th:unless="${producto.precioDescuento > 0.0}">
                                    <h2>$ <span th:text="${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></span></h2>
                                </div>

                                <div th:if="${domicilio != null}">
                                    <p class="mb-0 small text-muted"><i class="fa-solid fa-truck-fast text-primary"></i> Enviar a <span th:text="${domicilio.localidad.nombre}"></span></p>
                                </div>
                            </div>

                            <form th:action="@{/carrito/añadir}" method="POST">
                                <input type="hidden" name="productoId" th:value="${producto.id}">

                                <div class="mb-3 d-flex align-items-center gap-3">
                                    <label class="form-label mb-0 text-muted" for="cantidad">Cantidad</label>
                                    <input class="form-control form-control-sm" type="number" name="cantidad" id="cantidad" value="1" min="1" th:max="${producto.stock}">
                                </div>

                                <div class="d-flex flex-column gap-2">
                                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> Añadir al carrito</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h4>Conocé más sobre este producto</h4>

                    <div class="fs-6 text-muted text-pre-line" th:text="${producto.descripcion}"></div>
                </div>
            </div>
            <!-- <div class="card my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <img th:src="@{/images/{img} (img = ${producto.imagen})}" alt="producto" class="w-100" style="max-width: 30rem;">
                        </div>
                        
                        <div class="col-lg-6">
                            <h2 class="card-title" th:text="${producto.nombre}"></h2>
                        
                            <form th:action="@{/carrito}" method="POST">
                                <input type="hidden" name="id" th:value="${producto.id}">
                                
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <p class="m-0 fs-3" th:text="'$ ' + ${#numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'DEFAULT')}"></p>
                                    </li>
                                    
                                    <li class="list-group-item">
                                        <p th:text="${producto.descripcion}" class="text-pre-line"></p>
                                    </li>
                                    
                                    <li class="list-group-item">
                                        <label for="cantidad" class="form-label">Cantidad</label>
                                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" value="1">
                                    </li>
                                </ul>
                                
                                <button type="submit" class="btn btn-primary w-100 mt-4">Añadir al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
