<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header class="mb-5 py-4 text-bg-dark">
            <div class="container d-flex align-items-center justify-content-between gap-4">
                <div class="d-flex align-items-center gap-2">
                    <a th:href="@{/}" class="fs-2 navbar-brand">Spring eCommerce</a>
                </div>
            </div>
        </header>
        
        <!-- -->
        <main class="container">
            <h1 class="text-center mb-4">Registro</h1>

            <div class="py-3 px-4 card m-auto" style="width: 100%; max-width: 30rem;">    
                <form th:action="@{/signup}" method="POST" th:object="${usuario}">
                    <p class="mb-4 small text-muted">* Requerido</p>

                    <div class="form mb-3">
                        <label class="form-label" for="nombre">Nombre *</label>
                        <input class="form-control" id="nombre" type="text" th:field="*{nombre}" required>
                        <small class="form-text text-danger" th:errors="*{nombre}"></small>
                    </div>

                    <div class="form mb-3">
                        <label class="form-label" for="apellido">Apellido *</label>
                        <input class="form-control" id="apellido" type="text" th:field="*{apellido}" required>
                        <small class="form-text text-danger" th:errors="*{apellido}"></small>
                    </div>

                    <div class="form mb-3">
                        <label class="form-label" for="email">Email *</label>
                        <input class="form-control" id="email" type="email" th:field="*{email}" required>
                        <small class="form-text text-danger" th:errors="*{email}"></small>
                    </div>

                    <div class="form mb-3">
                        <label class="form-label" for="password">Contraseña *</label>
                        <input class="form-control" id="password" type="password" th:field="*{password}" required>
                        <small class="form-text text-danger" th:errors="*{password}"></small>
                    </div>

                    <div class="form mb-3">
                        <label class="form-label" for="telefono">Número de teléfono</label>
                        <input class="form-control" id="telefono" type="text" th:field="*{telefono}">
                        <small class="form-text text-danger" th:errors="*{telefono}"></small>
                    </div>

                    <div class="form mb-3">
                        <label class="form-label" for="direccion">Dirección</label>
                        <input class="form-control" id="direccion" type="text" th:field="*{direccion}">
                        <small class="form-text text-danger" th:errors="*{direccion}"></small>
                    </div>

                    <button type="submit" class="my-2 btn btn-success w-100">Crear cuenta</button>
                    <a th:href="@{/login}" class="btn btn-outline-primary w-100">Iniciar sesión</a>
                </form>
                
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
 