<!-- -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-commerce - Java Spring</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/regular.min.css" integrity="sha512-rOTVxSYNb4+/vo9pLIcNAv9yQVpC8DNcFDWPoc+gTv9SLu5H8W0Dn7QA4ffLHKA0wysdo6C5iqc+2LEO1miAow==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css" integrity="sha512-P9pgMgcSNlLb4Z2WAB2sH5KBKGnBfyJnq+bhcfLCFusrRc4XdXrhfDluBl/usq75NF5gTDIMcwI1GaG5gju+Mw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<!--  -->
<header th:fragment="header" class="mb-5 py-4 text-bg-dark">
    <div class="container d-flex align-items-center justify-content-between gap-4">
        <div class="d-flex align-items-center gap-4">
            <h1 class="mb-0 fs-2">
                <a th:href="@{/}" class="text-decoration-none text-white">
                    Spring e-Commerce
                </a>
            </h1>

            <form th:action="@{/buscar}" method="POST">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Buscar" name="busqueda" autocomplete="off" required>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-search"></i></button>
                </div>
            </form>
        </div>

        <!-- Usuarios logueados -->
        <div sec:authorize="isAuthenticated()">
            <nav class="d-flex align-items-center gap-4">
                <a th:href="@{/compras}" class="text-decoration-none text-light">Compras</a>
                <a th:href="@{/carrito}" class="text-decoration-none text-light">Ver Carrito</a>
                <a th:href="@{/logout}" class="text-decoration-none text-light">Cerrar sesión</a>
                
                <!-- Usuario ADMIN -->
                <div sec:authorize="hasAuthority('ADMIN')" class="dropdown flex-grow-1">
                    <button 
                        class="btn btn-success dropdown-toggle" 
                        type="button" 
                        id="dropdownAdminNav"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Admin
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownAdminNav">
                        <li><a th:href="@{/productos/}" class="dropdown-item">Productos</a></li>
                        <li><a th:href="@{/admin/usuarios}" class="dropdown-item">Usuarios</a></li>
                        <li><a th:href="@{/admin/compras}" class="dropdown-item">Compras</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Usuarios no logueados -->
        <div sec:authorize="isAnonymous()">
            <nav class="d-flex gap-2">
                <a th:href="@{/signup}" class="btn btn-success fw-bold">Crear cuenta</a>
                <a th:href="@{/login}" class="btn btn-outline-light fw-bold">Iniciar sesión</a>
            </nav>
        </div>
    </div>
</header>

<!--  -->
<footer th:fragment="footer" class="mt-5 py-4 text-bg-dark">
    <div class="container">
        <p class="m-0 text-center">Copyright &COPY; Spring eCommerce 2022</p>   
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script th:src="@{/app.js}"></script>
</footer>
