<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <!-- content -->
        <main class="container">
            <h2>Tu carrito</h3>

            <div th:if="${carrito.size() == 0}" class="p-4 bg-white rounded shadow text-center">
                <p class="mb-1 fs-2">¡Llená tu carrito!</p>
                <p class="text-muted">Sumá varios productos para conseguir descuentos por envío!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${carrito.size() == 0}" class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col col-lg-8">
                    <div class="px-3 bg-white rounded shadow">
                        <table class="w-100">
                            <tbody>
                                <tr th:each="item, iter: ${carrito}" th:classappend="${!iter.last}? border-bottom">
                                    <td class="py-3 pe-2">
                                        <img th:src="@{/images/{img} (img = ${item.producto.imagen})}" class="border rounded object-fit-contain" alt="Imagen del producto" style="width: 5rem; height: 5rem;">
                                    </td>
                                    <td class="pe-2">
                                        <div class="d-flex flex-column gap-1">
                                            <a th:href="@{/productos/{id} (id = ${item.producto.id})}" class="fw-medium text-decoration-none text-dark" th:text="${item.producto.nombre}"></a>
                                            
                                            <div class="d-flex align-items-center gap-3">
                                                <a th:href="@{/carrito/quitar/{id} (id = ${item.id})}" class="small text-decoration-none">Quitar</a>
                                                <small th:if="${item.producto.precioDescuento > 0}" class="badge text-bg-success">
                                                    %<span th:text="${#numbers.formatDecimal(item.producto.precioDescuento, 0, 'POINT', 0, 'DEFAULT')}"></span> OFF
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pe-2">
                                        <form method="POST">
                                            <div class="d-flex align-items-center justify-content-between border rounded">
                                                <button type="submit" class="btn-unstyled px-2 py-1 border-end" th:formaction="@{/carrito/cambiarCantidad/-}" th:disabled="${item.cantidad <= 1}">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <div class="w-100 px-2 py-1 text-center">
                                                    <input type="hidden" name="productoId" th:value="${item.producto.id}">
                                                    <span th:text="${item.cantidad}"></span>
                                                </div>
                                                <button type="submit" class="btn-unstyled px-2 py-1 border-start" th:formaction="@{/carrito/cambiarCantidad/+}" th:disabled="${item.cantidad >= item.producto.stock}">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <div th:if="${item.producto.precioDescuento > 0.0}" class="d-flex align-items-center justify-content-end gap-2">
                                            <small class="text-muted text-decoration-line-through">
                                                $ <span th:text="${#numbers.formatDecimal(item.calcularPrecioTotal(), 0, 'POINT', 0, 'DEFAULT')}"></span>
                                            </small>
                                        </div>
                                        <p class="mb-0 fs-5 text-end">
                                            $ <span th:text="${#numbers.formatDecimal(item.calcularPrecioFinal(), 0, 'POINT', 0, 'DEFAULT')}"></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <h5 class="card-text">Resumen de tu carrito</h5>
                        </div>

                        <div class="card-body">
                            <div class="mb-2">
                                <p class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Productos</span>
                                    <span th:text="${carrito.size()}"></span>
                                </p>
                                <p class="mb-3 d-flex justify-content-between gap-3">
                                    <span>Total de unidades</span>
                                    <span th:text="${totalUnidades}"></span>
                                </p>
                                <h6 th:if="${precioFinal < precioTotal}" class="mb-1 d-flex justify-content-between gap-3 fw-semibold text-success">
                                    <span>Ahorras</span>
                                    <span>
                                        $ <span th:text="${#numbers.formatDecimal(precioTotal - precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h6>
                                <h4 class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Total</span>
                                    <span class="fw-semibold">
                                        $ <span th:text="${#numbers.formatDecimal(precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h4>
                            </div>

                            <a th:href="@{/orden/envio}" class="btn btn-primary w-100">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>
