<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>Seleccioná tu domicilio</h2>

            <div th:if="${carrito.size() == 0}" class="p-4 bg-white rounded shadow text-center">
                <p class="mb-1 fs-2">¡Llená tu carrito!</p>
                <p class="text-muted">Sumá varios productos para conseguir descuentos por envío!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${carrito.size() == 0}" class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col col-lg-8">
                    <div class="p-4 bg-white rounded shadow">
                        <p th:if="${error}" class="text-danger" th:text="${error}"></p>

                        <div th:if="${domicilios.size() == 0}" class="text-center">
                            <p class="mb-1 fs-2">No tienes domicilios agregados</p>
                            <p class="text-muted">Agrega tu domicilio para saber dónde enviar tus productos <i class="fa-solid fa-truck"></i></p>

                            <a th:href="@{/perfil/domicilios/form}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Añadir domicilio</a>
                        </div>

                        <th:block th:unless="${domicilios.size() == 0}" th:each="domicilio, iter: ${domicilios}"> 
                            <div class="d-flex align-items-center justify-content-between gap-3">
                                <div> 
                                    <div class="d-flex align-items-center gap-2 flex-wrap">
                                        <h4 class="mb-1">
                                            <span th:text="${domicilio.localidad.nombre}"></span>, <span th:text="${domicilio.localidad.provincia.nombre}"></span>
                                        </h4>
                                        <span th:if="${domicilio.principal == true}" class="badge text-bg-success">Dirección principal</span>
                                    </div>
                                    
                                    <p class="mb-1">
                                        Calle <span th:text="${domicilio.calle}"></span>, <span th:text="${domicilio.numeroCalle}"></span>
                                        <th:block th:if="${!#strings.isEmpty(domicilio.entrecalle1)}">
                                            (entre <span th:text="${domicilio.entrecalle1}" class="fw-medium"></span> y <span th:text="${domicilio.entrecalle2}" class="fw-medium"></span>)
                                        </th:block>
                                    </p>
                                    <p class="mb-0">Código postal: <span class="fw-semibold" th:text="${domicilio.codigoPostal}"></span></p>
                                </div>

                                <div>
                                    <a th:href="@{/orden/checkout?domicilioId={id} (id = ${domicilio.id})}" class="btn btn-outline-primary text-nowrap">Enviar a esta dirección <i class="fa-solid fa-chevron-right"></i></a>
                                </div>

                                <!-- <div>
                                    <form th:action="@{/orden/checkout}" method="POST">
                                        <input type="hidden" name="domicilioId" th:value="${domicilio.id}">
                                        <button type="submit" class="btn btn-outline-primary text-nowrap">Enviar a esta dirección <i class="fa-solid fa-chevron-right"></i></button>
                                    </form>
                                </div> -->
                            </div>

                            <div th:if="${!iter.last}" class="my-4 border-top"></div>
                        </th:block>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-text">Resumen de tu compra</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-2">
                                <p class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Productos</span>
                                    <span th:text="${carrito.size()}"></span>
                                </p>
                                <p class="mb-3 d-flex justify-content-between gap-3">
                                    <span>Total de unidades</span>
                                    <span th:text="${totalUnidades}"></span>
                                </p>
                                <h6 th:if="${precioFinal < precioTotal}" class="mb-1 d-flex justify-content-between gap-3 fw-semibold text-success">
                                    <span>Ahorras</span>
                                    <span>
                                        $ <span th:text="${#numbers.formatDecimal(precioTotal - precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h6>
                                <h4 class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Total</span>
                                    <span class="fw-semibold">
                                        $ <span th:text="${#numbers.formatDecimal(precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>
    </body>
</html>