<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <header th:replace="layout::header">

        </header>

        <main class="container">
            <h2>Finalizar compra</h2>

            <div th:if="${carrito.size() == 0}" class="p-4 bg-white rounded shadow text-center">
                <p class="mb-1 fs-2">¡Llená tu carrito!</p>
                <p class="text-muted">Sumá varios productos para conseguir descuentos por envío!</p>

                <a th:href="@{/}" class="btn btn-primary">Explorar productos</a>
            </div>

            <div th:unless="${carrito.size() == 0}" class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col col-lg-8">
                    <div class="bg-white rounded shadow">
                        <p th:if="${error}" class="text-danger" th:text="${error}"></p>                        

                        <div class="p-4 text-center text-muted" id="paymentBrick_placeholder">
                            <div class="spinner-border" role="status"></div>
                            <p class="mb-0">Cargando medios de pago</p>
                        </div>

                        <div id="paymentBrick_container"></div>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-text">Resumen de tu compra</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-2">
                                <p class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Productos</span>
                                    <span th:text="${carrito.size()}"></span>
                                </p>
                                <p class="mb-3 d-flex justify-content-between gap-3">
                                    <span>Total de unidades</span>
                                    <span th:text="${totalUnidades}"></span>
                                </p>
                                <h6 th:if="${precioFinal < precioTotal}" class="mb-1 d-flex justify-content-between gap-3 fw-semibold text-success">
                                    <span>Ahorras</span>
                                    <span>
                                        $ <span th:text="${#numbers.formatDecimal(precioTotal - precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h6>
                                <h4 class="mb-0 d-flex justify-content-between gap-3">
                                    <span>Total</span>
                                    <span class="fw-semibold">
                                        $ <span th:text="${#numbers.formatDecimal(precioFinal, 0, 'POINT', 0, 'DEFAULT')}"></span>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Footer y scripts -->
        <footer th:replace="layout::footer"></footer>

        <!-- MercadoPago scripts -->
        <script src="https://sdk.mercadopago.com/js/v2"></script>

        <script th:inline="javascript">
            const mp = new MercadoPago(/*[[${publicKey}]]*/);

            const bricksBuilder = mp.bricks();
            const renderPaymentBrick = async (bricksBuilder) => 
            {
                const settings = 
                {
                    initialization: {
                        amount: parseInt(/*[[${precioFinal}]]*/),
                    },
                    customization: 
                    {
                        visual: 
                        {
                            style: {
                                theme: "bootstrap",
                            },
                            texts: {
                                formTitle: "Selecciona tu medio de pago"
                            }
                        },
                        paymentMethods: 
                        {
                            creditCard: "all",
                            debitCard: "all",
                        },
                    },
                    callbacks: 
                    {
                        onReady: () => 
                        {
                            const placeholder = document.querySelector("#paymentBrick_placeholder");
                            placeholder.remove();
                        },
                        onSubmit: ({selectedPaymentMethod, formData}) => 
                        {
                            console.log(formData);

                            return new Promise((resolve, reject) => 
                            {
                                fetch("/orden/procesarPago", 
                                {
                                    method: "POST",
                                    headers: {"Content-Type": "application/json"},
                                    body: JSON.stringify(formData)
                                })
                                .then(api => api.json())
                                .then(response =>
                                {
                                    console.log(response);

                                    if(response.status === "approved")
                                    {
                                        resolve();
                                        window.location.href = "/compras/" + response.ordenId;
                                    }
                                    else if(response.status === "badRequest")
                                    {
                                        reject();
                                        Swal.fire("Falta información...", response.detail, "question")
                                            .then(() => window.location.href = "/orden/envio");
                                    }
                                    else 
                                    {
                                        reject();
                                        Swal.fire("No se pudo procesar tu pago", "Tu pago no pudo ser procesado. Código de error: " + response.detail, "error")
                                            .then(() => window.location.reload());
                                    }
                                })
                                .catch(error => 
                                {
                                    reject();
                                });
                            });
                        },
                        onError: (error) => {
                            console.log("TODO MAL XD");
                            console.error(error);
                        },
                    },
                };
                window.paymentBrickController = await bricksBuilder.create("payment", "paymentBrick_container", settings);
            };

            renderPaymentBrick(bricksBuilder);
        </script>
    </body>
</html>